.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__dropdown {
  background-color: white;
  width: 250px;
}

.app__dropdown--dark {
  background-color: lightgray !important;
}

.dark-mode--header {
  color: whitesmoke;
}
